/* Change default font family of page */
* {
  font-family: 'Roboto', sans-serif;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
}

/*Resize image*/
img {
  height: 250px;
  width: 250px;
}

#landing {
  height: 80vh;
  /*center elements vertically using Flexbox*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#gallery {
  height: 75vh;
  /*center elements vertically using Flexbox*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  margin-bottom: 16px;
}

ul {
  list-style: none;
  padding: 0;
}

h2  {
  color: #007dff;/*hexadecimal color value*/
}

.tools {
  padding: 25px;
  height: 200px;
  border: 5px solid #f2f2f2;
  margin: 20px;
  width: 75%;
  color: white;
}

html {
  scroll-behavior: smooth;
}

/*override bottstrap css rules*/
.jumbotron {
  background-color: transparent;
}
